{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":6,"column":0},"end":{"row":6,"column":12},"action":"remove","lines":["Django==1.11"],"id":1}],[{"start":{"row":6,"column":0},"end":{"row":6,"column":15},"action":"insert","lines":["django>=1.11.22"],"id":2}]]},"ace":{"folds":[],"scrolltop":180,"scrollleft":0,"selection":{"start":{"row":6,"column":15},"end":{"row":6,"column":15},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":3,"state":"start","mode":"ace/mode/text"}},"timestamp":1564891595216,"hash":"a8c909327a6315249fb1f6092fe2a0083d154bbc"}